<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>POE Market</title>
</head>

<body>
  <div class="container">
    <div id="logoc">
      <img id="logoImg" src="logo2.png">
    </div>
    <form action="/search" method="post" id="addPost" target="votar">
      <input type="text" name="name" id="name" class="formc" placeholder="Name">
      <input type="text" name="type" id="type" class="formc" placeholder="Type">
      <input type="submit" id="but" value="live Search">
    </form>
    {{{body}}}
  </div>
</body>

</html>
