

{{#each data}}

    <div class="results">
            <h2 id="hitem" >{{item.name}} <em>{{item.typeLine}}</em> </h2>
            <br>
            <p>{{listing.whisper}}</p>
            <br>
          </div>
    {{/each}}

    